.container {
    display: flex;
    justify-content: center;
}

.addBtn {
    position: absolute;
    left: calc(20vw - 48px);
    font-size: 20px;
    z-index: 3;
    width: 70px;
    height: 53px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #416a59;
    color: #feffff;
    cursor: pointer;
    box-shadow: -1px 0px 4px 0px rgba(0, 0, 0, 0.45);
    transition: 0.2s;

}

.addBtn:hover {
    background-color: #feffff;
    color: #416a59;
    font-size: 30px;
    font-weight: 700;
}

.taskInput {
    position: relative;
    font-size: 20px;
    width: 60vw;
    padding: 15px;
    padding-left: 80px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.45);
}

.taskInput:focus {
    outline: none !important;
}