.container{
    display: flex;
    justify-content: center;
}

.component {
    position: relative;
    width: calc(60vw + 70px);
    border-radius: 15px;
    z-index: 4;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.addBtn {
    font-size: 20px;
    z-index: 3;
    width: 70px;
    height: 53px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #416a59;
    color: #feffff;
    cursor: pointer;

    transition: 0.2s;

}

.taskInput {
    font-size: 20px;
    width: 60vw;
    padding: 15px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.taskInput:focus {
    outline: none !important;
}

@media (min-width : 800px) {
    .addBtn:hover {
        background-color: #feffff;
        color: #416a59;
        font-size: 25px;
        font-weight: 700;
    }
}